/*==================== Window buttons Styling ============================*/

@media not (prefers-contrast) {
  .titlebar-button {
    position: relative !important;
    border-radius: 5px !important;
    overflow: hidden !important;
    box-sizing: border-box !important;
    /* Essentials border style */
    border: 1px solid color-mix(in srgb, var(--tab-group-color-gray-invert) 14%, transparent) !important;
    border-top: 1px solid #ffffff2d !important;
    border-bottom: 1px solid #4442441f !important;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    min-width: 28px !important;
    min-height: 28px !important;
    margin: 0px 0px 2px 1px !important;
  }
  .titlebar-button:hover {
    border-color: rgba(255, 255, 255, 0.14) !important;
  }

  /* Glowing effect for window button icons */
  .titlebar-button .toolbarbutton-icon {
    transition: filter 0.3s ease-in-out, fill 0.3s ease-in-out !important;
  }
  @media (prefers-color-scheme: dark) {
    .titlebar-button:hover .toolbarbutton-icon {
      fill: #fff !important;
      filter: drop-shadow(0 0 1px #fff) drop-shadow(0 0 1px #fff) !important;
      animation: none !important;
    }
  }
  @media (prefers-color-scheme: light) {
    .titlebar-button:hover .toolbarbutton-icon {
      fill: #000 !important;
      filter: drop-shadow(0 0 1px #000) drop-shadow(0 0 1px #000) !important;
      animation: none !important;
    }
  }
}

@keyframes tab-hover-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/*========================= Zen Back Forward ===========================*/

@-moz-document url-prefix("chrome:") {
  :root:not([customizing]) #back-button[disabled] {
    display: none !important;
  }
  :root:not([customizing]) #forward-button[disabled] {
    display: none !important;
  }
}

/*========================= Hover Close  ===========================*/

@-moz-document url-prefix("chrome:") {
  #tabbrowser-tabs .tabbrowser-tab:not([pinned]):is([visuallyselected]):not(:hover) .tab-close-button {
    display: none !important;
  }
}
/*========================================================================*/

/* Apple-Style Close Button */
.tabbrowser-tab .tab-close-button {
  background: rgba(255, 255, 255, 0.25) !important;
  backdrop-filter: blur(3px) saturate(180%) !important;
  -webkit-backdrop-filter: blur(3px) saturate(180%) !important;
  border: 1px solid rgba(255, 255, 255, 0.8) !important;
  border-radius: 50% !important;
  box-shadow: 
    0 2px 8px rgba(0, 0, 0, 0.1),
    inset 0 2px 4px rgba(255, 255, 255, 0.3) !important;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.1)) !important;
}