/* Default Arc font */
@font-face {
  font-family: "SF-Pro";
  src: url("fonts/SF-Pro.ttf");
}

/* Our symbols font */
@font-face {
  font-family: "SF-Symbols";
  src: url("fonts/SF-Symbols.ttf");
}